.root {
    -fx-background-color: #eef2f3;
}

.hbox {
    -fx-background-color: #34495e;
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.vbox {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #2ecc71;
}
