/*.root {
    -fx-background-color: #eef2f3;
}*/

.root {
    -fx-background-color: linear-gradient(to bottom, #f9f9f9, #eaeff2);
}



.hbox {
    -fx-padding: 10 ;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.vbox {
    -fx-background-color: black;
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}







.button#b_up,#b_down{
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-background-color: white;
    -fx-border-width : 1px;
    -fx-border-color : #43A047;

}


.button {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}



.button:hover {
    -fx-background-color: #2ecc71;
}

#header,#footer{
    -fx-border-color : #fffdf7;
    -fx-border-width : 5px;
    -fx-background-color : #43A047;
   /* -fx-background-radius : 5px;
    -fx-border-radius : 5px;*/
    -fx-padding : 10px;
}

#header{
    -fx-border-color: gray transparent transparent transparent;

}

#footer{
    -fx-border-color: transparent  transparent gray transparent;

}


#slider{

    -fx-border-color : transparent black transparent transparent ;
    -fx-border-width :2px ;
    -fx-box-sizing: border-box;


}


#b_meds,#b_cart,#b_logout,#b_phar{
        -fx-border-color : white transparent white transparent ;
        -fx-border-size : 1px;
        -fx-text-fill : #EDF2F7;
        -fx-font-size : 18px;
        -fx-font-family: Franklin Gothic Demi;
        -fx-font-weight: 900;
        -fx-border-radius: 0;
        -fx-background-radius: 0;
        -fx-font-size: 14px;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0, 0, 2);

}

#b_logout{
        -fx-border-radius: 5;
        -fx-background-radius: 5;
        -fx-border-color : white ;
}

#b_connect,#b_connect_2{
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color : white ;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0, 0, 2);
}

#b_connect_2{
    -fx-font-size: 18px;
    -fx-border-width: 4px;
    -fx-border-color: #28a745;

}

#noConnContainer,#medsContainer{
    -fx-background-color: linear-gradient(to bottom, #e6f7e6, #ffffff);

}




#notconnectedInt,#connectedInt{
        -fx-background-color: rgba(255, 255, 255, 0.1);
        -fx-border-radius: 10px;
        -fx-background-radius: 10px;
        -fx-padding: 15px;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}

#b_connect:hover{
    -fx-background-color: #218838;
}

#b_connect_2:hover{
    -fx-background-color: linear-gradient(to bottom, #e6f7e6, #E0FFE0);
    -fx-border-color: #218838;
    -fx-text-fill: #218838;


}

#l_notconn2,#l_notconn1,#l_notconn2_2,#l_notconn1_2{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 2, 0, 0, 1);
    -fx-text-alignment: center;
}

#l_notconn2_2,#l_notconn1_2{
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-text-fill: black;

}


.table-view {
    -fx-border-color: black transparent black transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: rgba(128, 128, 128, 0.08);
    -fx-border-width : 1px;
    -fx-padding:0px
    }







.table-view .column-header {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-view .column-header .label{
    -fx-text-fill : #3a4b5d;
}


.table-row-cell {
    -fx-border-color: transparent transparent #cccccc transparent;
    -fx-background-color: #EDF2F7;
}







.table-row-cell:selected {
    -fx-background-color: #d1ecf1; /* Light blue */
}

.table-cell {
    -fx-alignment: center;
    -fx-text-fill: #333333;
    -fx-font-size: 13px;
}

.table-row-cell:hover {
    -fx-background-color: #E0E0E0; /* slightly dark Light gray */
}

.table-row-cell:empty {
    -fx-opacity: 0;
    -fx-max-height: 0;
}

/************************************************************************/

.scroll-bar {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.scroll-bar .track {
    -fx-background-color: #e0ffe0;
    -fx-background-radius: 10;
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #70c470;
    -fx-background-radius: 10;
    -fx-padding: 2;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #5ea65e;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: #4a8a4a;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: ""; /* Removes default arrows */
}


#rayonCirc{
    -fx-background-color: #4CAF5033;
    /*-fx-opacity: 0.2;*/
    -fx-border-radius: 5;
    -fx-background-radius: 5;


}

.text-field{
    -fx-border-width:1px;
    -fx-border-color: #D6D6D6;
    -fx-border-style: solid;
    -fx-border-radius : 7px;
    -fx-background-radius : 7px;

}

.text-field:focused{
    -fx-border-width:1px;
    -fx-border-color: #4CAF50;
    -fx-border-style: solid;

}

#hide{
    -fx-background-color : #686868cc;

}

